@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* PALETA DE CORES 
fundo: #dfd8cd
fragment: #0477c9
mocha: #4D4742
phantom: #dfd8cd
gold: #e7d688
#fdfcde
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, main {
   background-color: gray;
}
section.container {
    background-image: linear-gradient(120deg, #dfd8cd, #d4d2cd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    width: 100%;
    height: 600%;
    padding-top: 20px;
    margin: auto;
}
section.container > h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 5px 0px 0px 10px;
    text-align: center;
}
section.container h1 > hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: black;
}
section.container > img {
    width: 100px;
    margin: 10px;
}
section.container > h2 {
    font-family: "Nunito Sans", sans-serif;
    color: rgba(0, 0, 0, 0.692);
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
}
div.tenis {
    margin: 30px 0px;
    width: 300px;
    height: 320px;
}
div.tenis > h3 {
    position: absolute;
    top: 50%;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}
p.descricao {
    position: absolute;
    text-align: left;
    top: 50%;
    font-size: 0.8em;
    width: 80%;
    height: 100px;
    margin:0px 10px;
    opacity: 0;
}

div#fragment {
    position: relative;
    background-color: #0477c9;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #0477c980;
}
div#fragment > div#fimg {
    background-image: url('../imagens/travis-fragment.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#fragment > h3 {
    color: #E4D9C2;
}
div#fragment > p {
    color: #E2DFDA;
    font-weight: bolder;
}


div#mocha {
    position: relative;
    background-color: #4D4742;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #4d474291;
}
div#mocha > div#mimg {
    background-image: url('../imagens/travis-mocha.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#mocha > h3 {
    color: #E4D9C2;
}
div#mocha > p {
    color: #E2DFDA;
    font-weight: bolder;
}

div#phantom {
    position: relative;
    background-color: #a5a5a5;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #4645454b;
}
div#phantom > div#pimg {
    background-image: url('../imagens/travis-blackphantom.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#phantom > h3 {
    margin-left: 2px;
    color: #494949;
}
div#phantom > p {
    color: rgba(0, 0, 0, 0.623);
    font-weight: bolder;
}

div#gold {
    position: relative;
    background-color: #f0e8bf;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #f1e5a88f;
}
div#gold > div#gimg {
    background-image: url('../imagens/travis-goldyellow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#gold > h3 {
    color: #645203;
}
div#gold > p {
    color: #6B6056;
    font-weight: bolder;
}

/* EFEITOS DOS CARDS */
div.tenis:hover {
    zoom: 105%;
    transform: translate(0.3rem, 0.4rem);
    transition: .6s;
    transition-timing-function: ease;
}
div#fragment:hover {
    background-image: linear-gradient(to bottom, #0477C9, #03162463);
}
div#mocha:hover {
    background-image: linear-gradient(to bottom, #4D4742,#2c2927);
}
div#phantom:hover {
    background-image: linear-gradient(to bottom, #A5A5A5, #535353d5);
}
div#gold:hover {
    background-image: linear-gradient(to bottom, #F0E8BF,#ebd671);
}

div.tenis:hover .active {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

div.tenis:hover .foto {
    transform: translate(-1.0rem, -4.5rem) rotate(-20deg);
    transition: .6s;
    transition-timing-function: ease;
}
div.tenis:hover > h3 {
    transform: translateY(-4.5rem);
    transition: .6s;
    transition-timing-function: ease;
    margin-bottom: 0;
}
div.tenis:hover .descricao {
    transition: .6s;
    transition-timing-function: ease;
    opacity: 1;
}