@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* PALETA DE CORES 
fundo: #dfd8cd
fragment: #0477c9
mocha: #4D4742
phantom: #dfd8cd
gold: #e7d688

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
   background-color: gray;
}
main.modelos {
    background-image:linear-gradient(120deg, #e6e2e0,#DFD8cd);
    width: 100%;
    height: 100%;
}
main.modelos > h1 {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 20px 0px 0px 10px;
    text-align: center;
}
main.modelos h1 > hr {
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: black;
}
main.modelos > h2 {
    font-family: "Nunito Sans", sans-serif;
    color: rgba(0, 0, 0, 0.692);
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
}
section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    width: 100%;
    height: 600%;
    padding-top: 20px;
    margin: auto;
}
div.tenis {
    margin: 20px 0px;
    width: 300px;
    height: 320px;
}
div.tenis > h3 {
    position: absolute;
    top: 50%;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}
p.descricao {
    position: absolute;
    text-align: left;
    top: 50%;
    font-size: 0.8em;
    width: 80%;
    height: 100px;
    margin:0px 10px;
    opacity: 0;
}

div#fragment {
    position: relative;
    background-color: #0477c9;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #0477c980;
}
div#fragment > div#fimg {
    background-image: url('../imagens/travis-fragment.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#fragment > h3 {
    color: #E4D9C2;
}
div#fragment > p {
    color: #E2DFDA;
    font-weight: bolder;
}


div#mocha {
    position: relative;
    background-color: #4D4742;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #4d474291;
}
div#mocha > div#mimg {
    background-image: url('../imagens/travis-mocha.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#mocha > h3 {
    color: #E4D9C2;
}
div#mocha > p {
    color: #E2DFDA;
    font-weight: bolder;
}

div#phantom {
    position: relative;
    background-color: #a5a5a5;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #a5a5a591;
}
div#phantom > div#pimg {
    background-image: url('../imagens/travis-blackphantom.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#phantom > h3 {
    margin-left: 2px;
    color: #494949;
}
div#phantom > p {
    color: #373532;
    font-weight: bolder;
}

div#gold {
    position: relative;
    background-color: #f0e8bf;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #f0e8bfc4;
}
div#gold > div#gimg {
    background-image: url('../imagens/travis-goldyellow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 18%;
    
    background-size: 200px 100px;
    width: 100%;
    height: 100px;
}
div#gold > h3 {
    color: #645203;
}
div#gold > p {
    color: #6B6056;
    font-weight: bolder;
}

/* EFEITOS DOS CARDS */
div.foto.active {
    transform: scale(1.1);
}
div.tenis:hover .foto {
    transform: translate(-1.0rem, -5rem) rotate(-20deg);
    transition: .5s;
    transition-timing-function: ease;
}
div.tenis:hover > h3 {
    transform: translateY(-4.5rem);
    transition: .5s;
    transition-timing-function: ease;
    margin-bottom: 0;
}
div.tenis:hover .descricao {
    transition: .5s;
    transition-timing-function: ease;
    opacity: 1;
}